<!DOCTYPE html>
<html>
<head>
	<title>book</title>
	<!-- <script type="text/javascript" src="/var/www/html/app.js"></script> -->
	<!-- <script type="text/javascript" src="./app.js"></script> -->
</head>
<body>

<form action="/api/genres" method="post"><br>
<label for="name">name</label>
<input type="text" name="name" id="name"><br>
<input type="submit" name="submit">
<!-- <button type="submit">submit</button> -->
</form>


</body>
</html>