<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <script type="text/javascript" src="./app.js"></script> -->
</head>
<body>
<form action="/edit/<%=show._id%>" method="get">
<label ><%=show.name%></label>
<button type="submit">edit</button>


</form>
</body>
</html>